# Build artifacts
/dist
/build
/output

# Node modules
/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.*.local
!.env.example # Keep example environment files if present

# Editor-specific files
.DS_Store # macOS specific
.vscode/ # Visual Studio Code settings
.idea/ # IntelliJ IDEA settings
*.suo # Visual Studio solution user options
*.user # Visual Studio user options
*.bak # Backup files

# Temporary files
*.tmp
*.log

# Coverage reports
/coverage
